    # =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

# =========================
# FastAPI / Backend
# =========================
uploads/
*.sqlite3

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Hugging Face / Deployment
# =========================
*.tar
*.gz

# =========================
# ML / Data
# =========================
*.csv
*.xlsx
*.parquet
*.joblib
*.pkl